@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

html,
body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111827; /* always dark */
}

::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #374151 #111827;
}
